body {
	margin: 0;
}

.slider {
	margin: 0 auto;
	width:620px;
}

.slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width:9999px;
}

.slider ul li {
	float: left;
	width:196px;
	margin-right: 10px;
}

.slider ul img {
	display: block;
	width: 100%;
}

.slider-wrap {
	overflow: hidden;
	position: relative;
	width:100%;
	margin: 0 auto;
}

@media screen and (max-width: 460px) {
	.slider-wrap {
		width: 100% !important;
	}
	.slider ul li {
		width:460px;
	}
}
